.productPageWraper {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  .leftNav {
    width: 25%;
    background-color: map-get($theme-colors, "background");
    .link {
      display: block;
      text-decoration: none;
      color: #555555;
      padding: 10px 20px;
      font-size: calculate-rem(16px);
      border-bottom: 2px solid map-get($theme-colors, "border");
      cursor: pointer;
      &:hover {
        background-color: map-get($theme-colors, "background-hover");
      }
      &.selected {
        background-color: map-get($theme-colors, "background-hover");
      }
    }
  }
  .produtsBody {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .productDrop {
    display: none;
  }
}
