.productWraper {
  width: 25%;
  box-shadow: 0px 1px 4px map-get($theme-colors, "background");
  font-size: calculate-rem(16px);
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .heading {
    font-size: calculate-rem(16px);
  }
  @include viewport(medium) {
    width: 50%;
  }
  @include viewport(small) {
    width: 100%;
  }
  .productImgInfo {
    .productImg {
      width: 100%;
      padding: 15px 5px;
      @include viewport(medium) {
        width: 50%;
        padding: 5px 5px;
      }
    }
    .productInfo {
      background-color: map-get($theme-colors, "background");
      font-size: calculate-rem(14px);
      text-align: left;
      padding: 3px;
    }

    &.destopTab {
      display: block;
      @include viewport(small) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @include viewport(small) {
        display: flex;
      }
    }

    @include viewport(small) {
      margin: 20px 5px 5px 5px;
    }
  }
  .priceWrap {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    align-items: center;
    .buyNow {
      padding: 5px 15px;
      background-color: map-get($theme-colors, "primary");
      color: map-get($theme-colors, "white");
      cursor: pointer;
      &:hover {
        background-color: map-get($theme-colors, "primary_hover");
      }
      @include viewport(medium) {
        padding: 5px 15px;
        background-color: map-get($theme-colors, "primary");
        color: map-get($theme-colors, "white");
        width: 100%;
      }
    }
  }

  .tab {
    @include viewport(ipadOnly) {
      display: block;
    }
    display: none;
  }
  .destop {
    display: none;
    @include viewport(desktop) {
      display: flex;
    }
  }
  @include viewport(medium) {
    .heading {
      margin: 15px 0;
    }
  }
  @include viewport(small) {
    .productInfoPrice {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}
