.cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 470px;
  top: 0px;
  right: 0;
  background-color: map-get($theme-colors, "background");
  z-index: 50;
  &-footer {
    background-color: map-get($theme-colors, "white");
    text-align: center;
    margin-bottom: 10px;
    font-size: calculate-rem(16px);
    &--promo {
      font-size: calculate-rem(16px);
      padding: 5px;
    }
    &-checkout {
      margin: 5px;
      width: 97%;
      background-color: map-get($theme-colors, "primary");
      color: map-get($theme-colors, "white");
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
    &--start {
      justify-content: center;
      width: 100%;
    }
  }
  &-items {
    flex-grow: 1;
    overflow-y: auto;
  }
  &-noItem {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    &--header {
      font-size: calculate-rem(18px);
      font-weight: 600;
    }
    &--sub {
      font-size: calculate-rem(16px);
      font-weight: 300;
    }
  }
  &-myCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    width: 100%;
    background-color: map-get($theme-colors, "black");
    color: map-get($theme-colors, "white");
    padding: 0 15px;
    &--head {
      font-weight: 700;
      font-size: calculate-rem(20px);
    }
    &--sub {
      margin-left: 5px;
      font-weight: 400;
      font-size: calculate-rem(16px);
    }
  }
}
