.cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 470px;
  top: 0px;
  right: 0;
  background-color: #eeeeee;
  z-index: 50;
  @include viewport(small) {
    width: 100%;
    top: -80px;
    height: 100vh;
  }
  @include viewport(medium) {
    width: 100%;
    top: -80px;
    height: 100vh;
  }
  &-footer {
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
    &--promo {
      font-size: 1.6rem;
      padding: 5px;
    }
    &-checkout {
      margin: 5px;
      background-color: #bf2957;
      color: white;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
    &--start {
      justify-content: center;
    }
  }
  &-items {
    flex-grow: 1;
    overflow-y: auto;
  }
  &-noItem {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    &--header {
      font-size: 1.8rem;
      font-weight: 600;
    }
    &--sub {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
  &-myCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    width: 100%;
    background-color: #1d2124;
    color: white;
    padding: 0 15px;
    &--head {
      font-weight: 500;
    }
    &--sub {
      margin-left: 5px;
      font-weight: 400;
      font-size: 1.6rem;
    }
    .close {
      position: absolute;
      right: 10px;
      top: 16px;
      width: 32px;
      height: 32px;
      opacity: 0.3;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &:before,
      &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 25px;
        width: 2px;
        background-color: rgb(255, 255, 255);
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
