.wraper {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  @include viewport(small) {
    justify-content: space-between;
  }
  box-shadow: 0px 3px 10px #d0d0d0;
  a {
    &:link,
    &:active {
      text-decoration: none;
    }
  }

  .cart-wraper {
    display: flex;
    position: relative;
    font-size: calculate-rem(18px);
    outline: inherit;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: map-get($theme-colors, "background");
    font-weight: 400;
    @include viewport(small) {
      font-size: calculate-rem(30px);
    }
    img {
      width: 20px;
      @include viewport(small) {
        width: 30px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    @include viewport(small) {
      display: none;
    }
    .loginSection {
      font-size: calculate-rem(16px);
      margin: 3px 2px;
      a {
        margin: 0px 10px;
        color: map-get($theme-colors, "black");
        cursor: pointer;
      }
    }
  }
  .center {
    flex-grow: 2;
    display: flex;
    font-size: calculate-rem(18px);
    @include viewport(small) {
      display: none;
    }
    align-items: center;
    a {
      padding: 5px;
      margin: 10px 20px;
      cursor: pointer;
      @include viewport(medium) {
        margin: 10px 5px;
      }
      &:visited,
      &:link {
        color: map-get($theme-colors, "black");
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom: 1px solid map-get($theme-colors, "black");
        transition: border-bottom 0.2s, color 0.2s;
      }
      &:hover,
      :active {
        border-bottom: 1px solid transparent;
      }
    }
  }

  .openMenu {
    padding: 20px;
    display: none;
    @include viewport(small) {
      display: block;
    }
  }

  .logo {
    width: 200px;
    margin: 1px 5px;
    background-size: contain;
  }
  .hamburger {
    display: none;
    position: absolute;
    background-color: map-get($theme-colors, "white");
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 16;
    @include viewport(small) {
      &--show {
        display: block;
        animation: slide 0.5s;
        @keyframes slide {
          0% {
            left: 100vw;
          }
          100% {
            left: 0;
          }
        }
      }
    }
    &-row1 {
      display: flex;
      height: 80px;
      &--close {
        flex-grow: 2;
        position: absolute;
        right: 0;
        padding: 20px;
      }
    }
    &-row2 {
      display: flex;
      flex-direction: column;
      &--link {
        align-items: center;
        justify-content: center;
        display: flex;
        height: 60px;
        font-size: calculate-rem(30px);
        &:nth-child(even) {
          background-color: map-get($theme-colors, "background");
        }
      }
    }
  }
}
