@include viewport(small) {
  .Card {
    &--Img {
      height: 100%;
    }
    &-info {
      margin: 15px 5px;

      &--Text {
        text-align: center;
        margin: 5px 0;
      }
    }
  }
  .footer {
    font-size: calculate-rem(14px);
  }
}
@include viewport(medium) {
  .signIn {
    flex-direction: column;
    align-items: stretch;
    margin: auto;
  }
}
